body {
  overflow-x: hidden;
}
.jumbotron {
  background-image: url(../imagenes/descarga.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  /*Semana 2*/
  margin-top: 50px;
  margin-botton: 0px;
}
h1 {
  text-shadow: 2px 2px 3px white;
  font-family: sans-serif;
  font-size: bold;
  color: white;
}
footer {
  padding: 10px 10px 0px 10px;
  margin-top: 10px;
  margin-botton: 0px;
  background-color: #00c8ff;
  color: black;
  font-size: 15px;
}
footer a {
  color: blue;
  display: block;
}
footer h6 {
  font-weight: bold;
  font-size: 18px;
}
.card-restaurante {
  flex: 1 200px;
  padding: 2px 5px;
  margin: 6px 2px;
  background-color: #E2F1EF;
}
.card-restaurante:hover {
  background-color: #CEE7E4;
}
.card-restaurante:hover h4 {
  font-weight: bolder;
}
.card-footer {
  background-color: #CCE2DF;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -2px;
}
.btn-restaurante {
  width: 100%;
  position: relative;
  left: 0px;
  bottom: 0px;
}
.imagenBanner {
  width: 100%;
  height: 250px;
  margin-top: 0px;
  margin-botton: 10px;
}
/*Practica pesta;as*/
.tab-content {
  padding-top: 5px;
}
